@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Mulish:wght@400;600;700&family=Work+Sans:wght@400;700&display=swap);
.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #000;
  list-style-type: none;
}
.nav-list__item {
  padding: 0;
  width: 120px;
  height: 50px;
}
.nav-list__item_m {
  width: 180px;
}

.page-header {
  margin: 0 80px 0 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1440px) {
  .page-header {
    margin: 0 160px 0 160px;
  }
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1440px) {
  .page-header__navigation {
    display: block;
    margin-right: 20px;
    margin-left: auto;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1440px) {
  .page-header__upload-btn {
    display: block;
    background: #1968fc;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    width: 180px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    border: none;
  }
}

.logo {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo__picture {
  width: 50px;
  height: 50px;
}
.logo__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: auto;
  text-align: center;
  color: #1968fc;
  margin-left: 10px;
}

.headline__title {
  width: 480px;
  height: 120px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  margin: 80px 80px 0 80px;
  padding: 0;
}
.headline__description {
  width: 480px;
  height: 80px;
  font-size: 20px;
  line-height: 40px;
  margin: 20px 80px 0 80px;
  padding: 0;
}
.page-footer {
  height: 130px;
  padding: 40px;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fbfbfb;
}
@media screen and (min-width: 1440px) {
  .page-footer {
    padding: 40px 160px;
  }
}
.page-footer__signature {
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  width: 200px;
  height: 50px;
  color: #1968fc;
  background-color: rgba(25, 104, 252, 0.0509803922);
}
.page-footer__navigation {
  display: none;
}
@media screen and (min-width: 1440px) {
  .page-footer__navigation {
    display: block;
    margin-left: 70px;
  }
}
.page-footer__social {
  margin-left: 50px;
}
.page-footer__illustration {
  position: absolute;
  bottom: 0;
  background-size: contain;
  right: 40px;
  width: 55px;
  height: 60px;
  background-size: 142%;
  background-repeat: no-repeat;
  background-position-x: -9px;
  background-position-y: -5px;
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/VincentIllustration.png);
}
@media screen and (min-width: 1440px) {
  .page-footer__illustration {
    right: 160px;
    width: 90px;
    height: 100px;
    background-position-x: -16px;
    background-position-y: -9px;
    background-size: auto;
  }
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
}
.social-media__item {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
@media screen and (min-width: 1440px) {
  .social-media__item {
    margin-right: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  flood-color: #11223f;
  font-size: 16px;
  line-height: 30px;
}

.page {
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  min-height: 100vh;
  min-width: 640px;
  padding: 40px 0 90px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .page {
    width: 1440px;
    padding: 30px 0 0 0;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}

/*# sourceMappingURL=styles.css.map */
