.headline {
  &__title {
    width: 480px;
    height: 120px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 80px 80px 0 80px;
    padding: 0;
  }

  &__description {
        width: 480px;
        height: 80px;
        font-size: 20px;
        line-height: 40px;
        margin: 20px 80px 0 80px;
        padding: 0;
  }

  &__illustration {
  }

  &__button {
  }
}
